.header {
  height: 1540px;
  background-image: linear-gradient(to bottom, #ffffff, #e3f2f6 50%),
    linear-gradient(#666666, #666666);
  background-size: 100% 910px, 100% 630px;
  background-position: top, bottom;
  background-repeat: no-repeat;
}
