@use "@base/colors" as *;
@use "@abstracts/mixins" as *;

.hero {
  @include container;
  margin: 90px auto;
  flex-direction: column;

  h1 {
    font-size: 72px;
    font-weight: 700;
    width: 600px;
    line-height: 80px;
  }

  h2 {
    font-size: 30px;
    margin: 20px 0 60px 0;
  }

  ul {
    display: flex;
    margin: 50px 0;
    gap: 25px;

    li {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 13px;
      color: $base-color-4;
    }
  }
}
