.embedCodeContainer {
  background-color: #333333;
  padding: 15px;
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 30px;
  overflow: hidden;

  pre {
    color: white;
    font-size: 12px;
    margin-bottom: 15px;
    overflow-wrap: break-word;
    text-wrap: wrap;
  }

  .copyEmbedCodeBtn {
    display: flex;
    justify-content: flex-end;
  }
}
