@use "@base/colors" as *;

.appearanceContainer {
  margin-bottom: 90px;

  .positionBoxesContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: 94px;
    margin-bottom: 30px;

    div {
      width: 28px;
      height: 18px;
      border: 2px solid $base-color-4;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: $base-color-6;
      }

      &:nth-child(1) {
        border-top-left-radius: 6px;
      }

      &:nth-child(3) {
        border-top-right-radius: 6px;
      }

      &:nth-child(7) {
        border-bottom-left-radius: 6px;
      }

      &:nth-child(9) {
        border-bottom-right-radius: 6px;
      }
    }

    .active {
      background-color: $base-color-6;
      transform: scale(1.05);
    }
  }

  .colorBoxesContainer {
    display: flex;
    gap: 8px;
    margin-bottom: 30px;

    .colorBox {
      width: 42px;
      height: 42px;
      border-radius: 10px;
      border: 2px solid $base-color-6;
      transition: 0.3s;

      &:hover {
        filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.25));
        transform: scale(1.05);
      }

      &:active {
        transform: scale(0.95);
      }
    }

    .active {
      filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.25));
      transform: scale(1.05);
    }
  }
}
