@use "@base/colors" as *;
@use "@abstracts/mixins" as *;

.navbar {
  @include container;
  display: flex;
  align-items: center;
  margin: 0 auto;
  font-family: var(--font-inter);
  height: 70px;
  font-weight: 600;
  font-size: 16px;

  .navbarHeader {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 900;
  }

  .navbarLinks {
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 0 80px;
  }

  .navbarBtns {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;
  }
}
